@import url("style/header.css");
body {
    background-color: bisque;
}
.container img{
    max-width:50px;
    max-height: 50px;
    width:auto;
    height: auto;
}

.h1 {
    color:blue;
}

.h2 {

    color:brown;
   
}